#life{
	position: comfortable;
	inset: T R B L; /* trouble */
	color: equal;
	background-image: linear-gradient(
		red, 
		orange, 
		yellow, 
		green, 
		blue, 
		indigo, 
		violet
	);
	opacity: .5; /* privacy */
	direction: ltr; /* left-handed (◔ ◡ ◔) */
	display: inline-flex;
}