/* July 26, 2021 | Shadow Scientist (@shadow-scientist) */

/* TODO fix site lagging by hiding "pen iframes" */
/* exclude #result-iframe */
.profile-grid-pens .hide-owner:not(.featured-pen) .iframe-wrap > iframe{
	display: none;
}

/* TODO tweak the border-radius to get rid of these "jagged edges" in Firefox */
.iframe-wrap, .thumbnail-wrap{
	background-color: transparent;
	border-radius: 0;
}

.iframe-wrap .grid-preview-image, 
.thumbnail-wrap .grid-preview-image,
.profile-grid-pens .featured-pen .iframe-wrap{
	border-radius: 6px;
}

[class^="ItemPreviewPopOutButton"]{
	border-radius: 5px;
}

/* TODO add margin to the LR edges for mobile devices */
#profile-location-and-bio{
	margin: 0 1em;
	font-weight: bold;
}

#profile-bio{
	font-size: 1.1rem;
	word-spacing: 0.12em;
}

/* TODO make the featured pen tile larger */
.featured-pen .iframe-wrap{
	padding-top: 40%; /* 50% maybe? */
}

/* TODO render better preview images in Chrome */
@supports not (-moz-appearance: none){
	.grid-preview-image{
		image-rendering: pixelated;
	} 
}

/* TODO support the sidebar expand/collapse animation by applying the same animation in the body */
body{
	/* background-color: transparent; */
	transition: padding-left cubic-bezier(0.38, 0.01, 0.09, 0.98) 0.4s;
	will-change: padding-left;
}

/* TODO prevent sidebar and showcase overlap */
@media (min-width: 831px){
	body[data-sidebar-collapsed='true']{
		padding-left: 11.5px;
	}

	/* TODO fix sidebar overflow and openbar hover animation */
	[class^="Sidebar_root-2"]{
		overflow-x: hidden;
	}
}

/* TODO make the openbar animation consistent */
[class^="SidebarToggle_openBar"], 
button[title="Toggle Navigation"] + div[data-collapsed]{
	height: 110%;
	box-shadow: 8px 0 10px 0 #000;
}