/* July 26, 2021 | Shadow Scientist (@shadow-scientist) */

/* TODO personal branding should be visible on Desktop devices */
@media not all and (max-width: 550px){
	#profile-header{
		box-shadow: 0 1vmax 2vmax 0 rgba(0, 0, 0, 0.4);
	}

	#profile-header::after{
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) scale(0.9);
		width: 160px;
		height: 80px;
		background-color: #0c0d0f;
		border-radius: 80px 80px 0 0;
		transform-origin: 50% 100%;
		display: block;
	}

	.profile-header-content{
		padding: 33vh 10px 85px 10px;
	}

	#links-and-stats{
		transform: translateY(-100%);
		background: transparent;
		z-index: 2;
	}

	#profile-image{
		transform: translateX(-50%) translateY(50%) rotate(-2deg);
		border: 0;
		background: #0c0d0f;
		border-radius: 50%;
		box-shadow: 0 1vmax 1vmax 0vmax rgba(0, 0, 0, 0.4);

	    /* customize alt text */
		/* our alt text should stay at the center both vertically and horizontally */
		font-family: Telefon, sans-serif;
		line-height: 1.5;
		text-align: center;
		display: grid;
		place-items: center;
		place-content: center;
    
		/* AFAIK place-items and place-content would be stripped out by the prepocessor */
		align-items: center;
	}

	#profile-username{
		font-weight: bold;
	}

	h1#profile-name-header > span{
		font-family: "Telefon", sans-serif;
		font-weight: 600;
		font-size: 3.4rem; /* TODO change it to an appropriate unit */
	}

	.follow-block{
		margin-right: 12px;
	}

	.follow-block > strong{
		font-family: "Telefon", sans-serif;
		font-weight: 400;
		font-size: 1.5em;
		padding: 0 0.05em;
	}

	.follow-block > span{
		font-weight: bold;
		transition: color ease 200ms;
	}

	#profile-links{
		gap: 0;
		grid-gap: 0;
	}

	.profile-links > a:not(.button){
		position: relative;
		color: transparent;
		margin: 0 -5px;
	}

	.profile-links > a:not(.button):hover{
		color: transparent;
	}

	.profile-links > a:not(.button)::after{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		color: #9b9dad;
		font-weight: bold;
		transition: color ease 200ms;
	}

	.profile-links > a:not(.button):hover:after{
		color: #fff;
	}

	.profile-links > a:nth-child(1)::after{
		content: "Twitter";
	}

	.profile-links > a:nth-child(2)::after{
		content: "GitHub";
	}

	.profile-links > a:nth-child(3)::after{
		content: "JSFiddle";
	}

	/* TODO align the pen-as-header question with the current design */
	.pen-as-header-question{
		padding-bottom: 37px;
		right: 1em;
		font-weight: bold;
	}

	.pen-as-header-question > span{
		font-weight: 400;
	}

	/* TODO add 'Bangladesh' easter */
	#profile-location:hover{
		background-image: radial-gradient(circle at center, #ff3d3d 1.88ch, #47cf73 1px);
		background-clip: text;
		-webkit-background-clip: text;
		color: rgba(0, 0, 0, 0);
		transition: color ease 400ms;
	}

	/* TODO make the first letter pop out! */
	.profile-nav-1 .explore-tab::first-letter{
		font-family: "Telefon", sans-serif;
		font-size: 1.5em;
		padding-right: 1px;
	}
	
	/* TODO make the font bold and adjust their spacing */
	.profile-nav-1 .explore-tab{
		position: relative;
		font-weight: bold;
		padding-right: 0;
		text-indent: 20px;
		left: -20px;
	}

	/* TODO apply pen, project, and collection theme colors */
	.profile-nav-1 .explore-tab.active:nth-child(1)::first-letter{
		color: #0ebeff;
	}
	
	.profile-nav-1 .explore-tab.active:nth-child(2)::first-letter{
		color: #ffdd40;
	}
	
	.profile-nav-1 .explore-tab.active:nth-child(3)::first-letter{
		color: #ae63e4;
	}

	.profile-nav-1{
		border-bottom: 0;
	}
	
	.profile-nav-2{
		background: #2c303a4a;
		padding: 10px;
		border-radius: 7px;
	}
	
	.profile-nav-2 .explore-tab{
		padding: 7px;
		font-weight: bold;
	}

	/* TODO add some space before the featured pen */
	#profile-content-wrap{
		margin: 0 0 30px 0;
	}

	/* TODO add some space after the tags grid */
	#tags-grid{
		margin-bottom: 27px;
	}

	.tag-grid > li > a::before{
		opacity: 0;
	}

	.tag-grid > li > a{
		border-radius: 6px;
		padding: 10px 15px;
		padding-right: 42px;
	}

	.tag-grid > li{
		padding: 0 5px;
		margin: 5px 0;
	}

	/* TODO highlight individual sets of tags */
	.tag-grid > li > a[href*="css"]{
		background-color: #0267af;
		box-shadow: inset 14px 11px 19px 0 rgba(255, 255, 255, 0.2);
	}

	.tag-grid > li > a[href*="html"]{
		background-color: #db3c15;
		box-shadow: inset -14px -11px 19px 0 rgba(0, 0, 0, 0.2);
	}

	.tag-grid > li > a[href*="js"],
	.tag-grid > li > a[href*="javascript"]{
		background-color: #fbb925;
		color: #000;
	}

	.tag-grid > li > a[href*="pug"]{
		background-color: #53312a;
		color: #e8c69e;
	}

	.tag-grid > li > a[href*="cpc-"],
	.tag-grid > li > a[href*="codepenchallenge"]{
		background-color: white;
		color: #000;
	}

	.tag-grid > li > a:hover{
		background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
	}

	/* TODO decorate the tag multiply count */
	.tag-grid > li > a > span{
		right: 0px;
		top: 50%;
		background: rgba(0, 0, 0, 0.3);
		color: inherit;
		padding: 0;
		border-radius: 50% 0 0 50%;
		font-size: 80%;
		transform: translateY(-50%);
		width: 29px;
		height: 24px;
		display: grid;
		align-items: center;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.4), inset 0 -1px 0 0 rgba(255, 255, 255, 0.08);
	}

	.profile-nav-2 a:not(.explore-tab).active{
		font-weight: bold;
		padding: 3px 15px;
		background: rgba(0, 0, 0, 0.4);
		border-radius: 20px;
		margin-left: 10px;
		color: #fff;
	}
}

::selection{
	background-color: #181a1f;
	color: #fff;
}

.hide-owner .grid-preview-image[alt=""]{
	/* TODO remove the broken-image outline */
	border: 2px solid transparent;

	/* TODO add background fallback for broken-images */
	background-color: #313540;
	background-image: url("https://blog.codepen.io/wp-content/uploads/2012/06/Button-White-Large.png");
	background-size: 30% auto;
	background-position: 51% center;
	background-repeat: no-repeat;

	/* TODO add some interpolation to the border color */
	transition: border-color ease 400ms;
}

.hide-owner:hover .grid-preview-image[alt=""]{
	border: 2px solid hsl(139deg, 59%, 55%);
}

/* TODO highlight the featured pen wrapper */
.hide-owner.featured-pen .iframe-wrap{
	box-shadow: 0 0 0 2px hsl(139deg, 59%, 55%);
}

/* TODO remove border from the <img> as parent have already */
.hide-owner.featured-pen .grid-preview-image[alt=""]{
	border: 0;
}

#profile-header{
	background-color: #151027;
}